.baires {
    h3 {
        color: map-get($color, wine);
        font-family: raleway;
        font-size: 24px !important;
    }
    p{
        color: map-get($color, ghost-blue);
        font-size: 18px;
        margin-bottom: 30px;
    }

}

.card-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.text-ghost-blue-light {
    color: map-get($color, light-blue);
    font-family: raleway;
}