.baires {
    h3 {
        color: map-get($color, wine);
        font-family: raleway;
    }
    p{
        color: map-get($color, ghost-blue);
    }
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.text-ghost-blue-light {
    color: map-get($color, light-blue);
    font-family: raleway;
}