%mainText {
    font-family: Raleway;
    font-size: 24px;
    color: map-get($color, wine);
    line-height: 1,5;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}