%mainText {
    font-family: Raleway;
    font-size: 14px;
    color: map-get($color, wine);
    text-decoration: none;
}

.wineH3{
    font-family: raleway;
    font-size: map-get($fontSize, medium);
    color: map-get($color, wine);
    text-align: center;
}