
.accordion {
    --bs-accordion-active-color: #795062;
    --bs-accordion-active-bg: #FFF3D4;
    --bs-accordion-btn-focus-border-color:#795062;
}

.accordion-button {
    background-color: map-get($color, ghost-yellow);
    color: map-get($color , wine);
    font-family: Raleway;
    font-size: map-get($fontSize, medium);
    border-radius: 5px;
    margin-bottom: 10px;
}

.collapsed {
    color: map-get($color , wine);
    font-family: Raleway;
    font-size: 18x;
}

.accordion-body {
    color: map-get($color, ghost-blue);
    font-family: Raleway;
    font-size: map-get($fontSize, small);
}