.footerContainer {
    background-color: #795062;
    margin-bottom: 0%;
}
.footerContainer footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerContainer footer ul li a {
    margin-left: 10px;
    color: #CCD3DE !important;
}

.footerContainer footer ul li a:hover{
    color: #6C7C95 !important;
}