/* ----------------------------------------------------------- Header Subpages ------------------------------------------------------------*/
.mastheadSubpages {
    background-color: #6C7C95;
    align-items: flex-end;
}

.mastheadSubpages h1{
    align-self: bottom;
    font-family: Raleway;
    font-size: 48px;
    color: #FFF3D4;
}

/* ----------------------------------------------------------- Header Subpages ------------------------------------------------------------*/

/* ----------------------------------------------------------Elementos generales---------------------------------------------------------- */

.winePLeftAlign{
    font-family: Raleway;
    font-size: 24px;
    color: #795062;
    line-height: 1,5;
}

.blueH2{
    padding-left: 50px;
    font-family: raleway;
    font-size: 48;
    color: #6C7C95;
}

.winePCenterAlign{
    font-family: Raleway;
    font-size: 24px;
    line-height: 1,5;
    text-align: center;
    text-decoration: none;
}

.winePCenterAlign p{
    color: #795062;
}

.winePCenterAlign p a{
    text-decoration:none;
    color: #6C7C95;
}

.winePCenterAlign p a:hover{
    color: #CCD3DE;
}

.winePLeftAlign{
    font-family: Raleway;
    font-size: 20px;
    color: #795062;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1,5;
    text-align: center;
}

.blueH2{
    padding-left: 50px;
    font-family: raleway;
    font-size: 48;
    color: #6C7C95;
}

.winePCenterAlign{
    font-family: Raleway;
    color: #795062;
    font-size: 20px;
    line-height: 1,5;
    text-align: center;
    text-decoration: none;
}

.winePCenterAlign p{
    color: #795062;
}

.winePCenterAlign p a{
    text-decoration:none;
    color: #6C7C95;
}
