/* ----------------------------------------------------------- Header Subpages ------------------------------------------------------------*/
.masthead {
    font-family: raleway;
    color: map-get($color, ghost-blue);
}

/* ----------------------------------------------------------- Header Subpages ------------------------------------------------------------*/

/* ----------------------------------------------------------Elementos generales---------------------------------------------------------- */
.blueH2{
    padding-left: 50px;
    font-family: raleway;
    font-size: map-get($fontSize, large);
    color: map-get($color, ghost-blue);
}


.winePLeftAlign{
    @extend %mainText;
}

.winePCenterAlign{
    @extend %mainText;
    text-align: center;
}

.winePCenterAlign p a{
    color: map-get($color, ghost-blue);
}

.winePCenterAlign p a:hover{
    color: map-get($color, light-blue);
}
