/* ----------------------------------------------------------- Header Subpages ------------------------------------------------------------*/
.mastheadSubpages {
    background-color: map-get($color, ghost-blue);
    align-items: flex-end;
}

.mastheadSubpages h1{
    align-self: bottom;
    font-family: Raleway;
    font-size: map-get($fontSize, large);
    color: map-get($color, ghost-yellow);
}

/* ----------------------------------------------------------- Header Subpages ------------------------------------------------------------*/

/* ----------------------------------------------------------Elementos generales---------------------------------------------------------- */
.blueH2{
    padding-left: 50px;
    font-family: raleway;
    font-size: map-get($fontSize, large);
    color: map-get($color, ghost-blue);
}


.winePLeftAlign{
    @extend %mainText; 
}

.winePCenterAlign{
    @extend %mainText;
    text-align: center;
}

.winePCenterAlign p a{
    color: map-get($color, ghost-blue);
}

.winePCenterAlign p a:hover{
    color: map-get($color, light-blue);
}
