.winePCenterAlign, .winePLeftAlign {
  font-family: Raleway;
  font-size: 24px;
  color: #795062;
  line-height: 1, 5;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.registerForm {
  padding-left: 200px;
  font-family: Raleway;
  font-size: 14px;
  color: #795062;
}

.registerForm input {
  width: 800px;
  padding-left: 10px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #FFF3D4;
  border: none;
  border-radius: 5px;
}

.registerForm select {
  width: 810px;
  padding-left: 10px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #FFF3D4;
  border: none;
  border-radius: 5px;
}

.registerForm textarea {
  width: 800px;
  height: 300px;
  padding-left: 10px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFF3D4;
  border: none;
  border-radius: 5px;
}

.registerForm label {
  line-height: 30px;
}

.registerForm p {
  color: #6C7C95;
  font-size: 10px;
}

.registerForm input[type=radio] {
  height: 10px;
  width: 10px;
}

.registerForm input[type=submit] {
  width: 200px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #6C7C95;
  color: #FFFFFF;
}

.registerForm input[type=reset] {
  width: 200px;
  margin-top: 20px;
  background-color: #CCD3DE;
  color: #FFFFFF;
}

.footerContainer {
  background-color: #795062;
  margin-bottom: 0%;
}

.footerContainer footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerContainer footer ul li a {
  margin-left: 10px;
  color: #CCD3DE !important;
}

.footerContainer footer ul li a:hover {
  color: #6C7C95 !important;
}

.navbar {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a img {
  width: 35px;
  height: 35px;
}

.navbar ul {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 120px;
  height: 35px;
  margin-left: 5px;
  background-color: #795062;
  text-decoration: none;
  border-radius: 3px;
  font-family: Raleway;
  transition: transform 0.5s;
}

.navbar ul li a {
  text-decoration: none;
  color: #CCD3DE;
  transition: 0.6s color;
}

.navbar ul li a:hover {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 991px) {
  .navbar ul {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .navbar ul li {
    background-color: #795062;
    width: 100%;
    padding-left: 10%;
    justify-content: left;
    margin-top: 5px;
  }
  .navbar ul li a {
    text-decoration: none;
    justify-items: start;
  }
}
.headerHomepage {
  background-image: url(../images/buenos-aires.png);
  background-color: #FFF3D4;
  height: 1024px;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: homepageHeader;
  justify-self: center;
  align-self: center;
}

.headerHomepageHeadline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@font-face {
  font-family: Corben;
  src: url(../styles/fonts/Corben-Regular.ttf);
}
.headerHomepageHeadline H1 {
  font-size: 200px;
  line-height: 230px;
  color: #795062;
  font-family: Corben;
  text-align: center;
}

@font-face {
  font-family: Ubuntu;
  src: url(../styles/fonts/Ubuntu-Regular.ttf);
}
.headerHomepageHeadline H2 {
  padding-top: 20px;
  font-size: 50px;
  line-height: 60px;
  color: #795062;
  font-family: Ubuntu;
  letter-spacing: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .headerHomepage {
    height: 600px;
    width: 100%;
  }
  .headerHomepageHeadline H1 {
    font-size: 100px;
    line-height: 110px;
    color: #795062;
    font-family: Corben;
    text-align: center;
  }
  .headerHomepageHeadline H2 {
    padding-top: 30px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 10px;
  }
}
/* ---------------------------------------------Yellow background ------------------------------------------------------------------*/
.yellowBackground {
  height: 500px;
  background-color: #FFF3D4;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: yellowBackground;
}

@font-face {
  font-family: Raleway;
  src: url(../styles/fonts/Raleway-Bold.ttf);
}
.yellowBackground h3 {
  width: 700px;
  font-family: Raleway;
  font-size: 48px;
  text-align: center;
  color: #795062;
}

.yellowBackground h3 span {
  width: 100%;
  font-family: Raleway;
  font-size: 48px;
  text-align: center;
  color: #6C7C95;
}

@media screen and (max-width: 767px) {
  .yellowBackground H3 {
    width: 100%;
    font-size: 35px;
  }
  .yellowBackground h3 span {
    width: 100%;
    font-size: 35px;
    color: #6C7C95;
  }
}
/* ------------------------------------------------------White background ------------------------------------------------------------------*/
.whiteSection {
  justify-self: center;
  align-self: center;
  width: 100%;
  background-color: #FFFFFF;
}

.whiteSection article img {
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #FFF3D4;
  border-radius: 10px;
  height: 250px;
  width: 250px;
}

.whiteSection article div h3 {
  font-family: Raleway;
  font-size: 24px;
  color: #6C7C95;
  text-align: center;
}

.btn-secondary {
  background-color: #6C7C95;
  font-family: Raleway;
  border-radius: 5px;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* ----------------------------------------------------------- Header Subpages ------------------------------------------------------------*/
.masthead {
  font-family: raleway;
  color: #6C7C95;
}

/* ----------------------------------------------------------- Header Subpages ------------------------------------------------------------*/
/* ----------------------------------------------------------Elementos generales---------------------------------------------------------- */
.blueH2 {
  padding-left: 50px;
  font-family: raleway;
  font-size: 48px;
  color: #6C7C95;
}

.winePCenterAlign {
  text-align: center;
}

.winePCenterAlign p a {
  color: #6C7C95;
}

.winePCenterAlign p a:hover {
  color: #CCD3DE;
}

.galeria {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.galeria img {
  margin-left: 20px;
  margin-top: 20px;
  transition: transform 0.5s;
  justify-self: center;
  align-self: center;
}

/* zoom */
.galeria img:hover {
  transform: scale(1.2);
}

.bairesBackgroundArquitectura {
  height: 300px;
  width: 100%;
  background-image: url(../images/Assets/buenos-aires/arquitectura.png);
  background-repeat: no-repeat;
  background-position: stretch;
  background-size: 100%;
}

.bairesBackgroundArquitectura h1 {
  position: absolute;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  font-family: Raleway;
  font-size: 48;
  color: #795062;
}

.bairesBackgroundHistoria {
  height: 300px;
  width: 100%;
  background-image: url(../images/Assets/buenos-aires/historia.png);
  background-repeat: no-repeat;
  background-position: stretch;
  background-size: 100%;
}

.bairesBackgroundHistoria h1 {
  position: absolute;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  font-family: Raleway;
  font-size: 48;
  color: #795062;
}

.bairesBackgroundGastronomia {
  height: 300px;
  width: 100%;
  background-image: url(../images/Assets/buenos-aires/gastronomia.png);
  background-repeat: no-repeat;
  background-position: stretch;
  background-size: 100%;
}

.bairesBackgroundGastronomia h1 {
  position: absolute;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  font-family: Raleway;
  font-size: 48;
  color: #795062;
}

.bairesBackgroundMusica {
  height: 300px;
  width: 100%;
  background-image: url(../images/Assets/buenos-aires/musica.png);
  background-repeat: no-repeat;
  background-position: stretch;
  background-size: 100%;
}

.bairesBackgroundMusica h1 {
  position: absolute;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  font-family: Raleway;
  font-size: 48;
  color: #795062;
}

.accordion {
  --bs-accordion-active-color: #795062;
  --bs-accordion-active-bg: #FFF3D4;
  --bs-accordion-btn-focus-border-color:#795062;
}

.accordion-button {
  background-color: #FFF3D4;
  color: #795062;
  font-family: Raleway;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.collapsed {
  color: #795062;
  font-family: Raleway;
  font-size: 18x;
}

.accordion-body {
  color: #6C7C95;
  font-family: Raleway;
}

.formQA {
  align-items: center;
  padding-bottom: 30px;
  font-family: Raleway;
  font-size: 14px;
  color: #795062;
}

.formQA input {
  height: 40px;
  background-color: #FFF3D4;
  border: none;
  border-radius: 5px;
}

.formQA select {
  height: 40px;
  background-color: #FFF3D4;
  border: none;
  border-radius: 5px;
}

.formQA textarea {
  height: 300px;
  height: 40px;
  background-color: #FFF3D4;
  border: none;
  border-radius: 5px;
}

.formQA label {
  line-height: 30px;
}

.formQA input[type=submit] {
  width: 200px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #6C7C95;
  color: #FFFFFF;
  transition: 0.6s background-color;
}

.formQA input[type=submit]:hover {
  background-color: #7789a5;
}

.formQA input[type=reset] {
  width: 200px;
  margin-top: 20px;
  background-color: #CCD3DE;
  color: #FFFFFF;
  transition: 0.6s;
}

.formQA input[type=reset]:hover {
  background-color: #d8dfeb;
}/*# sourceMappingURL=styles.css.map */